@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');
@import-normalize; /* bring in normalize.css styles */

body {
  background-color: hsl(180, 52%, 96%);
  font-family: 'Spartan', sans-serif;
  margin: 0;
}